@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

/* Header top bar */

.butts-foro {
    display: flex;
    justify-content: space-between;
}

.btn-inquiry,
.btn-tds {
    margin-right: 10px;
}

.upper-prod.position-relative {
    margin-bottom: 32px;
}

.top-bar {
    height: 100px;
    padding: 0px 60px;
}

.rating-text {
    margin-right: 5px;
    font-weight: bold;
}

.fas.fa-star {
    color: rgba(255, 204, 23, 1);
    margin-right: 3px;
}

.logo img {
    width: 175px;
    height: auto;
}

.top-bar .contact-info {
    color: #2895C4;
    text-decoration: none;
    margin-right: 15px;
    font-weight: 700;
    display: inline-block;
}

.top-bar .contact-info i {
    margin-right: 5px;
    font-size: 18px;
}

.top-bar .btn-brochure {
    background-color: #2895C4;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
}

/* Navbar section */
.navbar-section {
    background-color: #6EA4BD;

}

.navbar-nav .nav-link {
    color: #273942;
    margin: 0 15px;
    font-weight: bold;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
}

/* Hero section */
.hero-section {
    background-color: #212844;
    height: 600px;
    color: white;
    padding: 50px 0;
    background-image: url(assets/images/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}


.carousel-indicators [data-bs-target] {
    background-color: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 3px;
    border: 1px solid white;
    opacity: 0.5;
}

.herotop {
    margin-top: 55px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    margin-top: -100px;
    overflow: hidden;
}

.carousel-indicators .active {
    /* background-color: white; */
    opacity: 1;
}

/* .carousel-indicators {
    bottom: 80px;
} */


.hero-section h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

.hero-section h1 .trusted {
    color: #48A7D4;

}

.hero-section h1 .gumming {
    color: #02C8C8;

}

.hero-section p {
    margin-top: 20px;
    font-size: 1rem;
}

.hero-section .btn-view-collection {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #2895C4;
    border: none;
    color: white;
    border-radius: 5px;
}

.image-container img {
    width: 100%;
    height: auto;
}


/* <<<<<<<<< Who We Are >>>>>>>>>>>>>>> */

.who-we-are {
    padding: 50px 0;
    /* margin-top: 30px; */
}

.who-we-are-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 30px;
    height: 100%;
}

.play-text {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

}

h2.who-we-are-title {
    color: #0E3445;
}

.who-imgg img {
    max-width: 100%;
    height: auto;
    z-index: 1500;
    position: relative;
}


.who-we-are-title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.who-we-are-text {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #426271;
}

.who-title h4 {
    font-weight: 700;
    color: #124358;
}

.who-imgg {
    position: relative;
}

.who-we-are .who-imgg:after {
    content: "";
    position: absolute;
    width: 195px;
    height: 350px;
    background-image: url(assets/images/who-dots.png);
    background-size: contain;
    background-repeat: no-repeat;
    right: 180px;
    top: 330px;
}

.who-imgg-next img {
    height: auto;
    width: 100%;
    position: relative;
    z-index: 1500;
}


.who-we-are .who-imgg-next:after {
    content: "";
    position: absolute;
    width: 255px;
    height: 217px;
    background-image: url("assets/images/who-dots2.png");
    background-size: contain;
    background-repeat: no-repeat;
    left: 250px;
    margin-top: 185px;


}

.carousel-inner.new-carousel-inner {
    margin-top: -50px !important;
    padding: 30px 30px;
}


.carousel-indicators {
    bottom: 50px !important;
}

/* <<<<<<<<< Who We Are End>>>>>>>>>>>>>>> */

.bgimage-quality {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bgimage-quality::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the opacity for the black strip */
    z-index: 1;
}

.bgimage-quality .icon {
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 2;
    background: #FFFFFF;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

section.quality-section {
    padding: 65px 0;
}

.help-do p {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}


@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 1.8rem;
    }

    .hero-section p {
        font-size: 0.9rem;
    }

    .top-bar .contact-info,
    .top-bar .btn-brochure {
        font-size: 0.8rem;
    }
}

/* Toggle button styling for mobile */
.navbar-toggler {
    border: none;
    outline: 0 !important;
    padding: 8px;

}

.navbar-toggler-icon {

    width: 24px;
    height: 24px;
}

/* <<<<<<<<<<<Product Overview >>>>>>>>>>>>>>> */

.product-ove h2 {
    color: rgba(14, 52, 69, 1);
    font-weight: 700;
}


.product-ove p {
    color: rgba(14, 52, 69, 1);
}

.product-img {

    border-radius: 14px;
    width: 100%;
    height: -webkit-fill-available !important;
}

.product-img-vertical {

    border-radius: 14px;
}

.product-card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}


.view-all-btn {
    margin-top: 20px;
    text-align: center;
}

.product-card.text-center {
    padding: 40px;
}

.position-relative {
    position: relative;
}

.product-gallary {
    margin-top: 60px;
    margin-bottom: 45px;
}

.text-overlay {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
}

img.for-mobilecs {
    height: 171px;
}

.product-overview-section {
    position: relative;
    padding: 60px 0px;
}

.product-overview-section::after {
    content: '';
    position: absolute;
    top: 28px;
    left: 3%;
    background-image: url(assets/images/dots3.png);
    width: 90px;
    height: 335px;
    background-size: cover;
    opacity: 0.5;
}

.product-gallary::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -55px;
    top: 68%;
    background-image: url(assets/images/dots3.png);
    width: 90px;
    height: 270px;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

button.btn.btn-view-all {
    border: 1px solid #2895C4;
    padding: 10px 30px;
    background: #2895C4;
    border-radius: 0px;
    color: #fff;
    gap: 8px;
    display: flex;
    align-items: center;
    font-weight: 500;
}


@media (max-width: 768px) {
    .text-overlay {
        font-size: 0.8rem;
    }
}

@media (max-width: 576px) {
    .text-overlay {
        font-size: 0.7rem;
    }
}



/* <<<<<<<<<<<Product Overview >>>>>>>>>>>>>>> */

/* <<<<<<<<<<<Certification Start>>>>>>>>>>>>>>> */

section.certificate-section {
    padding: 25px;
}

.certificate-image img {
    position: relative;
    width: 100%;
    height: auto;
    bottom: 0;
}


/* <<<<<<<<<<<Certification End>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<testimonials-section>>>>>>>>>>>>>>> */


.testi-title::after {
    content: "";
    background-image: url('assets/images/quote.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -40px;
    left: 7%;
    width: 80px;
    height: 70px;
    z-index: 1;
}

.testimonials-section {
    position: relative;
    padding-bottom: 50px;
    /* To avoid overlap with the image */
}

.testimonials-section::before {
    content: '';
    position: absolute;
    bottom: 2px;
    right: 8%;
    width: 83px;
    height: 68px;
    background-image: url(assets/images/quote2.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.testi-title {
    position: relative;
}

.testi-wrap {
    position: relative;
    height: 725px;
    margin-top: -80px;
}

.client-single {
    margin-top: 20px;
    text-align: center;
    position: absolute;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.texti-boxer {
    border-radius: 12px;
    padding: 20px;
}

.funfun {
    background: #0985AD14;
    border-radius: 12px;
    padding: 60px;
}

.carousel {
    margin-top: 40px;
    padding: 45px 45px;
}

.carousel .carousel-item .testi {
    color: #999;
    font-size: 14px;
    text-align: center;
    background-color: rgba(233, 241, 245, 1);
    padding: 30px;
    border-radius: 7px;
    overflow: hidden;
    min-height: 290px;
}

.img-box img {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
}

.carousel .carousel-item .testi .img-box {
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 50%;
}

.carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}

.carousel .testimonial {
    padding: 30px 0 10px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 40px;
    height: 40px;
    margin-left: -40px;
    margin-right: -40px;
    margin-top: -20px;
    top: 50%;
    background: rgba(40, 149, 196, 1);
}

.carousel-control-prev i,
.carousel-control-next i {
    font-size: 16px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: #fff;
}

.carousel-indicators.new-carousel-indicators {
    bottom: -40px !important;
}

.carousel-indicators.new-carousel-indicators li,
.carousel-indicators.new-carousel-indicators li.active {
    width: 12px;
    height: 12px;
    margin: 1px 3px;
    border-radius: 50%;
    border: none;
}

.carousel-indicators.new-carousel-indicators li {
    background: #999;
    border-color: transparent;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.carousel-indicators.new-carousel-indicators li.active {
    background: rgba(40, 149, 196, 1);
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}


.rounded-image-back {
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    /* overflow: hidden; */
}

.rounded-image-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.top-left-backg {
    top: -100px;
    left: 30px;
}

.top-right-backg {
    top: -100px;
    right: 30px;
}

.bottom-left-backg {
    bottom: 180px;
    left: 60px;
}

.bottom-right-backg {
    bottom: 180px;
    right: 60px;
}

.top-center-backg {
    bottom: 20px;
    left: 54px;
}

.rounded-image-back.top-left-backg img {
    width: 45px !important;
    height: 45px !important;
}

.rounded-image-back.top-center-backg img {
    width: 45px !important;
    height: 45px !important;
}

section.testimonials-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.bottom-center-backg {
    bottom: -15px;
    right: 140px;
}


top-center-backg .rounded-image-back.bottom-left-backg img {
    width: 45px !important;
    height: 45px !important;
}

.rounded-image-back.bottom-right-backg img {
    width: 45px !important;
    height: 45px !important;
}

.rounded-image-back.bottom-left-backg img {
    width: 40px;
    height: 40px;
}

p.testimonial.text-center.p-4 {
    padding: 30px 0 10px;
    color: rgba(39, 57, 66, 1);
    font-weight: 600;
}


/* <<<<<<<<<<<testimonials-section End>>>>>>>>>>>>>>> */




/* <<<<<<<<<<<About US Start>>>>>>>>>>>>>>> */

span.color-dedo {
    color: rgba(110, 164, 189, 1);
    font-weight: 700;
}

.abouttop h1 {
    font-size: 60px;
    font-weight: bold;
}

.abouttop p {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

.breadcrumb {
    background: transparent;
}

.breadcrumb-item a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #2895C4;
    font-weight: 700;
    font-size: 20px;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: var(--bs-breadcrumb-item-padding-x);
    color: var(--bs-breadcrumb-divider-color);
    content: var(--bs-breadcrumb-divider, "") !important;
}

.about-banner-section {
    position: relative;
    background: url('assets/images/about-banner.jpg') no-repeat center center/cover;
    height: 600px;
    color: white;
}

.about-banner-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.who-we-are-section {
    position: relative;
}

.head-title-f h1 {
    font-weight: 700;
    color: #333333;
    font-size: 38px;
}

.timeline-item {
    display: flex;
    margin-bottom: 50px;
}

.circle-image img {
    width: 90%;
    height: auto;
}


.content h2 {

    font-weight: bold;
    margin-bottom: 15px;
    color: #0E3445;
}

.content p {
    font-size: 16px;
    color: #537B8E;
    text-align: start;
}

h4.maani-title {
    font-weight: 700;
    color: #0E3445;
    margin-bottom: 0px;
}

p.maani-text {
    font-weight: 500;
    color: #0E3445;
}

.manufacturer-section {
    background-color: #f9f9f9;

}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}

.icon-image {
    max-width: 50px;
    max-height: 50px;
}

.about-pic-container img {
    width: 100%;
    height: auto;
}

.about-pic-container {
    position: relative;
}

.image-on-text {
    position: absolute;
    top: 25px;
    right: 18px;
    background-color: #2895C4;
    color: white;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 0px;
    font-weight: bold;
}



@media (max-width: 768px) {
    .timeline-item {
        display: flex;
        text-align: center;
    }

}



/* <<<<<<<<<<<About US Start>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<Our Product Start>>>>>>>>>>>>>>> */

.our-product-section {
    position: relative;
    background: url('assets/images/product-banner-new.jpg') no-repeat center center/cover;
    height: 600px;
    color: white;
}

.our-product-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.form-check {
    margin-bottom: 14px !important;
}

.product-section {
    background-color: #f8f9fa;
}

.product-section h4 {
    margin-bottom: 20px;
    color: #2A254B;
    font-weight: 600;
}

.input-group .form-control {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.form-check-input:checked {
    background-color: #20779D;
    border-color: #20779D;
    outline: none !important;
}

label.form-check-label {
    color: #20779D;
    font-weight: 600;
}

.input-group .input-group-text {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #20779D;
    color: #fff;
}

.input-group .fas.fa-search {
    font-size: 1.2rem;
}

.product-section .img-fluid {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#product-filters {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    height: 100vh;
    z-index: 100;
    background-color: #fff;
    padding: 30px 40px;
    overflow: hidden;

}

#product-list {
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#product-list::-webkit-scrollbar {
    display: none;
}

.showing-product h6 {
    color: #0E3445;
    font-weight: 700;
}

#product-filters::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    #product-filters {
        position: relative;
        top: auto;
        height: auto;
    }
}



#product-filters {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    height: 100vh;
    overflow-y: auto;
    z-index: 100;
    background-color: #FFFFFF;
    padding: 30px 40px;
}


#product-list {
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


#product-list::-webkit-scrollbar {
    display: none;
}



@media (max-width: 768px) {
    #product-filters {
        position: relative;
        top: auto;
        height: auto;
    }
}

.pagination-container {
    margin-top: 20px;
}

/* Pagination General Style */
.pagination .page-link {
    color: #0E3445;
    border: none;
    border-radius: 25px;
    padding: 8px 10px;
    margin: 0 5px;
    background-color: transparent;
}

/* Previous and Next Buttons */
.pagination .page-link[aria-label="Previous"],
.pagination .page-link[aria-label="Next"] {
    border-radius: 25px;
    padding: 10px 25px;
    background-color: #fff;
    color: #0E3445;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.pagination .page-link[aria-label="Previous"]:hover,
.pagination .page-link[aria-label="Next"]:hover {
    background-color: #2895C4;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pagination .active .page-link {
    background-color: #2895C4;
    color: #fff;
    padding: 10px 46px;
    border-radius: 25px;
}


.pagination .page-link:focus {
    outline: none;
}

/* .red-double img {
    transition: transform 0.3s ease-in-out;
} */

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0 !important;
    box-shadow: none !important;
}

/* .red-double img:hover {
    transform: scale(1.1);
} */

.input-group:focus {
    outline: none !important;
}


.pagination .page-item {
    margin-right: 10px;
}


@media (max-width: 768px) {


    .pagination .page-link {
        padding: 8px 15px;
    }


    .pagination .page-link[aria-label="Previous"],
    .pagination .page-link[aria-label="Next"] {
        padding: 8px 20px;
    }


    .pagination .active .page-link {
        padding: 8px 30px;
    }
}

@media (max-width: 576px) {

    .pagination .page-link {
        padding: 6px 10px;
    }

    .pagination .page-item {
        margin-right: 5px;
    }

    .pagination .page-link[aria-label="Previous"],
    .pagination .page-link[aria-label="Next"] {
        padding: 6px 12px;
        font-size: 14px;
    }

    .product-de-tite {
        text-align: center;
        margin-top: 30px;
    }

    .pagination .active .page-link {
        padding: 6px 15px;
        font-size: 14px;
    }
}


/* <<<<<<<<<<<Our Product End>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<Our Product-Details Start>>>>>>>>>>>>>>> */

.product-container {
    /* background-color: #fff; */
    /* padding: 20px; */
    height: 100%;
    border-radius: 10px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.thumbnail img {
    width: 100%;
    border: 1px solid rgba(191, 191, 191, 1);
    border-radius: 15px;
    margin-bottom: 20px;
    cursor: pointer;

}

.thumbnail {
    cursor: pointer;
    /* transition: transform 0.2s; */

}

/* .thumbnail:hover {
    transform: scale(1.1);

} */

.text-barder-for {
    border-bottom: 1px solid rgba(221, 221, 221, 1);
    margin-bottom: 30px;
}

.main-image img {
    /* width: 100%; */
    height: 97%;
    border-radius: 15px;
    border: 1px solid rgba(191, 191, 191, 1);
}

.text-dbf {
    margin-bottom: 30px;
}

.similar-pro img {
    width: 100%;
    height: 330px;
    border-radius: 20px;
}

/* .product-details {
    margin-top: 20px;
} */

.sapan span {
    color: rgba(64, 64, 64, 1);
    font-weight: 600;
}

button.btn.btn-primary.btn-inquiry {
    width: 100%;
    background: rgba(40, 149, 196, 1);
    border: none;
    font-weight: 500;
    padding: 12px;
    border-radius: 5px;
}

button.btn.btn-tds {
    border: 1px solid rgba(40, 149, 196, 1);
    color: rgba(40, 149, 196, 1);
    font-weight: 500;
    background: transparent;
    padding: 12px;
    border-radius: 5px;
}

.product-details h2 {
    margin-bottom: 10px;
}

.butts-foro {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

section.product-details.second-one {
    padding: 40px 0px;
}

.doubled-date h2 {
    color: rgba(61, 61, 61, 1);
    font-weight: 700;
    margin-bottom: 30px;
}

.single-date p {
    color: rgba(87, 87, 87, 1) !important;
    font-weight: 400;
    margin-top: 40px;
}

.doubled-date h3 {
    color: rgba(45, 45, 45, 1);
    font-weight: 600;
}

.product-details p {

    color: rgba(65, 65, 65, 1);
    font-weight: 500;
    margin-bottom: 40px;
}

.product-details ul {
    padding-left: 20px;
    list-style-type: disc;
    margin-bottom: 50px;
}

span.lispan {
    color: rgba(110, 164, 189, 1);
    font-weight: 700;
}

.product-details ul li {
    margin-bottom: 5px;
    font-weight: 500;
}


.product-container.main-image {
    /* background-color: #fff; */
    /* padding: 20px; */
    height: 80%;
    border-radius: 10px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.butts-foro {
    margin-top: auto;
}

.info-product {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 100%;
}


.similar-pro {
    cursor: pointer;
    /* transition: transform 0.2s; */
    margin-bottom: 25px;
}


/* .similar-pro:hover {
    transform: scale(1.1);
} */
/* 
.product-detailss {
    margin-top: 75px;
} */

.firstclass-test {
    padding: 30px 40px;
}

button.btn-close {
    position: absolute;
    right: 50px;
    outline: none !important;
}

.firstclass-test h3 {
    color: rgba(45, 45, 45, 1);
    font-weight: 700;
}

.firstclass-test span {
    color: rgba(99, 99, 99, 1);
    font-weight: 400;
}

.firstclass-test p {
    color: rgba(45, 45, 45, 1);
    font-weight: 500;
}

ul.medal-list {
    color: rgba(45, 45, 45, 1);
    font-weight: 500;
    list-style: none;
    padding: 0px;
}

.modal-content {
    padding: 20px;
}

.modal-fullscreen {
    overflow: hidden;
}

.modal-body {
    max-height: 100vh;
    overflow-y: auto;
    padding-right: 0px;
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-modals img {
    border-radius: 5px;
}

button.btn.btn-submit {
    background: rgba(40, 149, 196, 1);
    color: #fff;
    padding: 10px 30px;
    font-weight: 500;
}

h2.modal-title {
    margin-bottom: 80px;
    color: rgba(59, 59, 59, 1);
    font-weight: 500;
}

.namefields.mb-4 {
    /* box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.14); */
}

.accordion-body {
    padding: 0px 20px;
}

/* <<<<<<<<<<<Our Product-Details End>>>>>>>>>>>>>>> */


/* <<<<<<<<<<<Industry start>>>>>>>>>>>>>>> */

.our-industry-section {
    position: relative;
    background: url('assets/images/industry-banner.jpeg') no-repeat center center/cover;
    height: 600px;
    color: white;
}

.our-industry-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.industry-doubled-date.text-center h2 {
    color: rgba(14, 52, 69, 1);
    font-weight: 700;
}

.industry-doubled-date.text-center p {
    color: rgba(18, 67, 88, 1);
    font-weight: 500;
    margin-top: 25px;
    font-size: 18px;
}

.industry-doubled-date.text-center {
    padding: 45px 0;
}

button.btn.btn-primary.btn-indusryf {
    background: rgba(40, 149, 196, 1);
    border: none;
    font-weight: 500;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.induss-bonk h4 {
    color: rgba(14, 52, 69, 1);
    font-weight: 700;
}

.induss-bonk p {
    color: rgba(99, 99, 99, 1);
    font-weight: 500;
    height: 100px;
}

.industry-similar-pro img {
    width: 100%;
    height: 300px;
}

.industry-similar-pro {
    cursor: pointer;
    /* transition: transform 0.2s; */
    margin-bottom: 25px;
}


/* .industry-similar-pro:hover {
    transform: scale(1.1);

} */

.breadcrumb__links.mb-3 a {
    text-decoration: none;
}

/* <<<<<<<<<<<Industry Band>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<Contact Us Start>>>>>>>>>>>>>>> */

.contact-us-section {
    position: relative;
    background: url('assets/images/contact-banner-new.jpg') no-repeat center center/cover;
    height: 600px;
    color: white;
}

.contact-us-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}


.contact-section {
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 0 8px 1px rgba(0, 0, 0, 0.1);
}

.contact-info h3 {
    font-weight: 700;
    color: rgba(45, 45, 45, 1);
}

.adress i.fa {
    font-size: 20px;
    color: rgba(40, 149, 196, 1);
}

.form-control {
    border-radius: 10px;
}

.map-container {
    margin-top: 40px;
}

.map {
    border-radius: 10px;
}

.hasst p {
    color: rgba(39, 57, 66, 1);
    font-weight: 500;
}

.contact-section.con-sec {
    border-top: 5px solid rgba(40, 149, 196, 1);
}

.adress.p {
    color: rgba(39, 57, 66, 1);
    font-weight: 500;
}

.contact-section h2 {
    color: rgba(14, 52, 69, 1);
    font-weight: 700;
    margin-bottom: 30px;
}

.contact-section p {
    color: rgba(14, 52, 69, 1);
}

.contactus-section {
    position: relative;
    overflow: hidden;
}

.contactus-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 55px;
    bottom: 0;
    background-image: url('assets/images/contact-bgs3.png');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: 0;
}

.contactus-section .container {
    position: relative;
    z-index: 15;
}

.contactus-section::before {
    content: '';
    position: absolute;
    top: -60px;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url('assets/images/contact-bgs4.png');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: 0;
}


/* <<<<<<<<<<<Contact us End>>>>>>>>>>>>>>> */


/* <<<<<<<<<<<Career Start>>>>>>>>>>>>>>> */

.career-section {
    position: relative;
    background: url('assets/images/career-banner-new.jpg') no-repeat center center/cover;
    height: 600px;
    color: white;
}

.career-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

section.careerss-section {
    padding: 60px 0;
}

.careerss h2 {
    color: rgba(14, 52, 69, 1);
    font-weight: 700;
}

.careerss h5 {
    color: rgba(89, 89, 89, 1);
    font-weight: 700;
}

.careerss p {
    color: rgba(115, 115, 115, 1);
    font-weight: 700;
    margin-top: 35px;
}

.join-team-section {
    background-color: #f0fbff;
    padding: 60px 0;
}

.job-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-bottom: 20px;
}

.career-secobds h2 {
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
}

.career-secobds p {
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
    padding: 0 30px;
}

.job-card h5 {
    font-weight: 700;
    margin-bottom: 15px;
    color: rgba(0, 93, 170, 1);
}

.job-card p {
    margin-bottom: 10px;
    color: rgba(74, 74, 74, 1);
    font-weight: 400;
}

.apply-btn {
    background-color: rgba(40, 149, 196, 1);
    color: #fff;
    border: none;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
}

h3.careerssd-title {
    color: rgba(14, 52, 69, 1);
    font-weight: 700;
    margin-bottom: 25px;
}

.apply-btn:hover {
    background-color: #0077cc;
}

.divider {
    position: relative;
    text-align: center;
    margin: 40px 0;
}

p.careerd-text.text-lg-start {
    font-family: "Figtree", sans-serif;
    color: rgba(14, 52, 69, 1);
    font-weight: 500;
    font-size: 17px;
}

.divider h4 {
    color: #000000;
    font-weight: 500;
    font-size: 32px;
}

button.accordion-button {
    color: rgba(51, 51, 51, 1);
    font-size: 18px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
}

.accordion-body p {
    color: rgba(165, 166, 182, 1) !important;
    margin-bottom: 0px !important;
    font-family: "Lato", sans-serif;
    font-size: 18px;
}

.accordion-header:focus {
    outline: none !important;
}

.accordion-button:focus {
    outline: none !important;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-active-icon);
    transform: var(--bs-accordion-btn-icon-transform);
    /* border: 1px solid rgba(51, 51, 51, 1);
    border-radius: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff !important;
}

.accordion-button::after {
    /* border: 1px solid rgba(51, 51, 51, 1);
    border-radius: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff !important;
}

form.custom-form.apply-kabhibhi {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-top: 5px solid rgba(99, 148, 170, 1);
}

.bot-frisrone p {
    margin-top: auto !important;
    font-weight: 400;
    color: rgba(138, 138, 138, 1);
}

.firstpns h6 {
    color: rgba(66, 98, 113, 1);
    font-weight: 600;
}

.firstpns h2 {
    color: rgba(14, 52, 69, 1);
    font-weight: 700;
    margin-top: 30px;
}


/* .for-abfter {
    position: relative;
}

.for-abfter::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 55px;
    bottom: 0;
    background-image: url('assets/images/contact-bgs3.png');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: 0;
} */

/* .contactus-section .container {
    position: relative;
    z-index: 15;
}

.contactus-section::before {
    content: '';
    position: absolute;
    top: -60px;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url('assets/images/contact-bgs4.png');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: 0;
} */



@media (max-width: 768px) {
    .job-card {
        margin-bottom: 30px;
    }

    .divider h4 {
        font-size: 1.25rem;
    }
}

/* <<<<<<<<<<<Career End>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<Footer Start>>>>>>>>>>>>>>> */

.footer {
    background-color: rgba(8, 49, 67, 1);
    padding: 40px 0;
}

.footer-logo img {
    width: 100px;
}

.footer h5 {
    color: rgba(234, 244, 249, 1);
    font-weight: 700;
    margin-top: 25px;
}

.footer p {
    font-size: 14px;
    color: rgba(234, 244, 249, 1);
    font-weight: 400;
    font-size: 16px;
    margin-top: 30px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
}

.foot-log2 img {
    width: 170px !important;
    height: auto;
}

.footer ul li {
    margin-bottom: 8px;
}

.footer ul li a {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    margin-top: 20px;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.social-icons a {
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    margin-right: 15px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #0004ff;
}

@media (max-width: 767px) {

    .footer-logo,
    .footer-info,
    .footer-columns {
        text-align: center;
    }

    .footer-info p,
    .footer-columns ul {
        padding: 0;
    }
}


/* <<<<<<<<<<<Footer End>>>>>>>>>>>>>>> */


/* Media Query Responsiveness */

@media (min-width: 320px) and (max-width: 500px) {

    .herotop {
        margin-top: 0px;
    }

    .hero-section {
        height: 100%;
    }

    .carousel-inner {
        margin-top: 0px !important;
        padding: 5px !important;
    }

    .carousel-indicators {
        bottom: 0px !important;
    }

    .hero-section {
        padding: 30px 0;
    }

    .who-we-are .who-imgg-next:after {
        display: none !important;
    }

    .who-we-are .who-imgg:after {
        top: 295px !important;
        right: 160px;
        height: 150px;
    }

    .product-container.main-image {
        height: auto;
        padding: 0 25px;
    }

    .product-gallary.d-flex.justify-content-center {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .product-overview-section::after {

        top: -30px !important;
        left: 1% !important;
        width: 65px !important;
        height: 100px !important;

    }

    /* img.prod-mad.mb-4 {
        height: auto !important;
    } */

    .about-pic-container.for-chipking {
        margin-top: 20px;
    }

    .product-gallary::after {
        display: none !important;
    }

    .quality-section .row {
        flex-direction: column;
    }

    section.quality-section {
        padding: 20px 25px;
    }

    .col-md-5.quality-first,
    .col-md-7.quality-second {
        width: 100%;
        text-align: center;
        padding: 15px;
    }

    .logo img {
        width: 88px;

    }

    .top-bar .contact-info,
    .top-bar .btn-brochure {
        font-size: 0.6rem !important;
    }

    .top-bar .btn-brochure {
        font-size: 0.6rem !important;
        padding: 10px 2px;
    }

    .top-bar {
        padding: 0px;
    }

    .col-md-7.p-md-5.quality-second.bgimage-quality {
        margin-bottom: 25px;
    }

    /* 
    .product-detailss {
        margin-top: 20px;
    } */

    .back-rounded-all {
        display: none;
    }

    .carousel {
        margin-top: 40px;
        padding: 10px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        margin-left: 0px;
        margin-right: 0px;
    }

    .testi-title::after {
        top: -70px;
    }

    .testimonials-section::before {
        bottom: -30px;
        right: 4%;
    }

    .top-bar .contact-info i {
        font-size: 10px !important;
    }

    .induss-bonk p {
        height: auto;
    }

    .firstclass-test {
        padding: 10px 10px;
    }

    .product-container {
        margin-top: 20px;
    }

    .product-container.main-image img {
        height: 220px !important;
    }

    .contact-section {
        padding: 25px;
    }

    .product-detailss {
        margin-top: 35px !important;
    }

    .thumbnail img {
        width: 70% !important;
    }

    .contact-boots {
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

@media (min-width: 768px) and (max-width: 1100px) {

    .carousel-inner {

        margin-top: 0px !important;
    }

    .col-md-5.quality-first,
    .col-md-7.quality-second {
        width: 100%;
        text-align: center;
        padding: 15px;
    }

    .career-section {
        height: 490px;
    }

    .adress p a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
    }

    .who-we-are-text {
        text-align: start;
    }

    .our-product-section {

        height: 490px;
    }

    .our-industry-section {
        height: 490px;
    }

    .induss-bonk p {
        height: 120px;
    }

    img.prod-mad.mb-4 {
        width: 100%;
        height: 200px !important;
    }

    #product-filters {
        padding: 16px 16px;
    }

    .our-product-section {
        height: 490px;
    }

    label.form-check-label {
        font-size: 12px;
    }

    .product-overview-section::after {

        left: 1% !important;
        top: 35px;
        height: 130px;
    }

    .herotop {
        margin-top: 25px;
    }

    .hero-section {
        height: 490px;
    }

    .hero-section h1 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 40px;
    }

    /* .product-detailss {
        margin-top: 20px;
    } */

    .carousel-indicators {
        bottom: 0px !important;
    }

    .quality-section .row {
        flex-direction: column;
    }

    .product-gallary::after {

        right: -40px !important;
        top: 88% !important;
        width: 90px !important;
        height: 144px !important;
    }

    .testi-title::after {
        left: -22%;
    }

    .bottom-left-backg {
        bottom: 213px;
        left: -3px;
    }

    .content p {
        text-align: center !important;
    }

    .bottom-center-backg {
        bottom: -40px;
        right: 140px;
    }

    .top-center-backg {
        bottom: -20px;
        left: -5px;
    }

    .footer-logo {
        text-align: center;
    }

    .bottom-right-backg {
        bottom: 212px;
        right: -20px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        margin-left: 30px;
        margin-right: 30px;
    }

    .testimonials-section::before {
        bottom: -2px;
        right: 10%;
    }

    .who-we-are .who-imgg:after {
        right: 150px;
        top: 230px;
        width: 190px;
        height: 250px
    }

    .about-banner-section {
        height: 490px;
    }

    .circle-image img {
        width: 100%;
    }

    .who-we-are .who-imgg-next:after {
        left: 125px;
    }

    .contact-us-section {

        height: 490px;
    }


    .col-lg-4.col-md-12.col-12.footer-logo {
        text-align: center;
    }

    .product-gallary.d-flex.justify-content-center.gap-5 {
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
    }

}


@media (min-width: 1200px) and (max-width: 1400px) {

    .who-we-are .who-imgg:after {
        right: 175px !important;
        top: 300px !important;
    }

    .product-container.main-image {
        height: 100%;
    }

    testi-title::after {
        left: 1%;
    }

    .who-we-are .who-imgg-next:after {
        left: 190px;
    }

    .testi-title::after {
        left: 1% !important;
    }

    .top-bar {
        height: 100px;
        padding: 0px 95px;
    }

    .butts-indus {
        margin-top: 30px;
    }

    .testimonials-section::before {
        right: 20%;
    }

    .product-overview-section::after {
        left: 1%;
        height: 245px;
    }

    .product-gallary::after {
        right: -55px;
        height: 245px;
    }

    .bottom-center-backg {
        bottom: -30px;
        right: 260px;
    }

}



.circle-image img {
    width: 80%;
    height: auto;
}

img.prod-mad.mb-4 {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    border: 1px solid rgba(191, 191, 191, 1);
}